[submodule "FiGS-Semantic"]
	path = FiGS-Semantic
	url = https://github.com/madang6/FiGS-Semantic.git
	branch = feature/flight
# [submodule "gemsplat"]
# 	path = gemsplat
# 	url = https://github.com/StanfordMSL/gemsplat.git
# 	branch = semantic_field_v1
